.grid-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 10px; /* Adjust the gap as needed */
}

.grid-item {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-item button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.grid-item button:hover {
  background-color: #0056b3;
}

.pagination-controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.container{
  display: block;
}

.header{
  display: flex;
  justify-content: center;
  align-item: center;
  background: #7E8EF1;
}

.header h4{
  font-size: 20px;
  color: #003285;  
}

.current-block{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF5E1;
}

.current-block p {
  font-size: 20px;
}

.current-block p span{
  font-size: 22px;
  margin-left: 20px;
  font-weight: 200;
}

.detail-btn{
  margin-left: 50px;
  border: none;
  padding: 10px;
  font-size: 15px;
  font-weight: 200;
  background-color: #9b85ea;
  color: white
}

.detail-btn:hover{
  background-color: #7e63e1;
}

.nav-btn{
  background-color: #7E8EF1;
  color: white;
  width: 80px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  border: none;
}

.nav-btn:hover {
  background-color: #6577ec;
}

.transaction-detail{
  margin-top: 30px;
}

.acc-btn{
  margin-left: 30%;
  border: none;
  padding: 10px;
  font-size: 15px;
  font-weight: 200;
  background-color: #9b85ea;
  color: white;
}

Link{
  color: white;
}

.acc-btn:hover{
  background-color: #7e63e1;
}